<!DOCTYPE html>
<html>
  <head>
    <title>Apptest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-white">
    <header class="mb-2 shadow-sm pageHeader">
      <%= render "layouts/header" %>
    </header>
    <main class="container py-2">
      <div class="pageHeader mb-3">
        <%= yield(:page_header) %>
      </div>
      <%= tag.div class: "alert alert-success alert-dismissible fade show", role: "alert" do %>
        <%= notice&.html_safe || alert&.html_safe %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <% end if flash.present? %>

      <%= turbo_frame_tag "modal" %>
      <%= yield %>
    </main>
    <!-- dynamicModal -->
    <div class="modal fade" id="dynamicModal" tabindex="-1" role="dialog" aria-labelledby="dynamicModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
  </body>
</html>
