<!DOCTYPE html>
<html>
  <head>
    <title>Apptest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-white">
    <header class="mb-2 shadow-sm pageHeader">
      <%= render "layouts/header" %>
    </header>
    <main class="container py-2">
      <div class="pageHeader mb-3">
        <%= yield(:page_header) %>
      </div>
      <%= tag.div class: "alert alert-success alert-dismissible fade show", role: "alert" do %>
        <%= notice || alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <% end if flash.present? %>
      <%= yield %>
    </main>
  </body>
</html>
